.bookmarks {
  position: absolute;
  top: 25rem;
  right: 0;

  background-color: transparent;
  z-index: 20;
  padding: 0.7rem;
  width: 30rem;

  @media only screen and (max-width: $bp-small) {
    width: 25rem;
  }

  &__restaurant {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .message {
      font-size: 1.3rem;
      padding: 2rem;

      .message-icon {
        height: 2.2rem;
        width: 2.2rem;
      }
    }
  }

  &__list:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
  }

  &__hero {
    width: 80%;
    height: 12rem;
    margin: 0 auto;
    border-radius: 1.5rem;
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    background-color: var(--color-accent-3);
    font-size: 1.5rem;
    width: 70%;
    padding: 0.5rem 1rem;
    transform: skewX(-20deg);
    position: relative;
    top: -1.3rem;
    left: 7rem;
    text-align: center;
    overflow-wrap: break-word;

    p {
      transform: skewX(20deg);
      color: var(--color-white);
    }
  }
}

.active {
  background-color: var(--color-orange-light-3);
}
