.restaurant {
  &__link {
    &:link,
    &:visited {
      color: var(--font-color);
      text-decoration: none;
      overflow: hidden;
      transition: all 0.2s;
      background-color: var(--color-orange-light-1);
      border-radius: 1rem;

      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-small) {
        border-radius: 2rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
      }
    }

    &:hover {
      transform: scale(1.1);
      background-color: var(--color-orange-light-2);
      color: var(--font-color-2);

      .place-icon,
      .rating-icon {
        fill: var(--font-color-2);
      }

      // .bookmarked-icon {
      //   opacity: 1;
      //   transition: all 0.2s;

      //   &:hover {
      //     fill: var(--color-gray-dark-1);
      //   }

      //   &:active {
      //     transform: translateY(2px);
      //   }
      // }
    }

    &:hover &__place-icon {
      fill: var(--font-color-2);
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 2.5rem;
    }
  }

  &__hero {
    flex: 0 1 30%;
    height: 17rem;

    @media only screen and (max-width: $bp-largest) {
      height: 13rem;
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 0 1 40%;
      height: 11rem;
    }

    @media only screen and (max-width: $bp-small) {
      border-radius: 2rem;
      overflow: hidden;
    }

    // @media only screen and (max-width: $bp-smallest) {
    //   height: 5rem;
    // }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    // Before the img was kinda blur, so I added this.
    object-fit: cover;

    @media only screen and (max-width: $bp-smallest) {
      height: 18rem;
    }
  }

  &__description {
    flex: 1;
    margin-left: 3rem;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 0;
      align-self: center;
      padding: 1rem 0;
    }
  }

  &__name {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.7rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.6rem;
    }
  }

  &__place,
  &__rating {
    display: flex;
    align-items: center;

    span {
      font-size: 1.5rem;
      margin-left: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 1.3rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.2rem;
      }
    }
  }

  &__place {
    margin-bottom: 0.7rem;
  }

  .place-icon,
  .rating-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--font-color);

    @media only screen and (max-width: $bp-smallest) {
      height: 1.8rem;
      width: 1.8rem;
    }
  }

  // &__bookmark {
  //   flex: 0 0 5rem;
  //   align-self: flex-start;
  //   margin-top: 2rem;

  //   .bookmarked-icon {
  //     height: 3rem;
  //     width: 3rem;
  //     fill: var(--color-gray-dark-3);
  //     opacity: 0;
  //   }

  //   .bookmarked-icon.checked {
  //     opacity: 1;
  //     fill: var(--color-gray-dark-1);
  //   }
  // }
}

.page {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  // height: 3.5rem;
  // width: 3.5rem;
  // color: var(--color-accent-3);
  // border-radius: 50%;
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.3rem;
  font-weight: 400;

  .num-1 {
    margin-right: 2px;
  }

  .num-2 {
    margin-left: 2px;
    font-size: 1.5rem;
    vertical-align: bottom;
  }
}

// Pagination button
.pagination-btn {
  border: none;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-smallest) {
    top: 101%;
  }

  &:hover {
    transform: translateY(-50%) scale(1.2);

    .pagination-icon {
      fill: var(--color-gray-dark-1);
    }
  }

  &:active {
    transform: translateY(-50%) scale(1.1);
  }

  &__front {
    left: -10rem;

    @media only screen and (max-width: $bp-smallest) {
      left: -5rem;
    }
  }

  &__next {
    right: -10rem;

    @media only screen and (max-width: $bp-smallest) {
      right: -5rem;
    }
  }

  .pagination-icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-gray-dark-2);

    @media only screen and (max-width: $bp-smallest) {
      height: 2rem;
      width: 2rem;
    }
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  .spinner-icon {
    height: 3rem;
    width: 3rem;
    fill: var(--font-color);
    animation: spin 0.8s infinite linear;
  }
}

@keyframes spin {
  0% {
    transform: none;
  }

  100% {
    transform: rotate(360deg);
  }
}

.message {
  display: flex;
  align-items: center;
  font-size: 2rem;

  .message-icon,
  .error-icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-accent-3);
    margin-right: 1rem;
  }
}

.errmessage {
  display: flex;
  flex-direction: column;
}

.back-btn {
  border: none;
  padding: 0.7rem 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: rgb(221, 221, 221);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(197, 197, 197);
  }
}
