:root {
  --color-white: #fff;
  --color-pink: #fdf3f2;
  --color-3: #fae5e4;
  --color-4: #d83429;

  --color-orange-light-1: #fcf5ed;
  --color-orange-light-2: #f0cca4;
  --color-orange-light-3: #f5dcc1;

  --color-accent-1: #f1a359;
  --color-accent-2: #f09a49;
  --color-accent-3: #ef9139;

  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;

  --color-gray-dark-1: #333;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #999;

  --font-color: #42484d;
  --font-color-2: #2d3439;
}

// 1800px
$bp-monitor: 112.5em;

// 1200px / 16px = 75
$bp-largest: 75em;
// 1100px
// $bp-large: 68.75em;
// 900px
// $bp-medium: 56.25em;
// 600px
// $bp-small: 37.5em;
// 500px
// $bp-smallest: 31.25em;

// 1000px
$bp-large: 62.5em;
// 700px
$bp-medium: 43.75em;
// 600px
$bp-small: 37.5em;
// 500px
$bp-smallest: 31.25em;
